@import "variables";

$primary: $quadram-primary;

// Navbar
$navbar-background-color: $quadram-dark;
$navbar-item-active-color: $white-ter;
$navbar-item-active-background-color: $primary;
$navbar-item-hover-color: $primary;
$navbar-item-hover-background-color: $grey-dark;
$navbar-item-color: $grey-lighter;
$navbar-dropdown-background-color: $quadram-dark;
$navbar-dropdown-item-hover-color: $primary;
$navbar-dropdown-item-hover-background-color: $grey-dark;

// Inputs
$input-disabled-border-color: $grey-lighter;
$input-focus-border-color: $primary;

// Modals
$modal-background-background-color: rgba(black, 0.70);
$modal-card-body-background-color: white;
